* {
  margin: 0;
}
.search-wrapper {
  display: flex;
  padding: 20px 30px;
  min-width: 80px;
}
.search-arrow .arrow {
  padding-right: 20px;
}
.arrow {
  min-width: 100px;
}
.arrow:hover {
  cursor: pointer;
}
#search-icon {
  color: orange;
}
#search-icon:hover {
  cursor: pointer;
}
.search-input {
  display: flex;
  width: 80%;
  height: 25px;
  padding: 0 15px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid white;
  background-color: white;
  box-shadow: 0px 0px 3px orange;
}
.search-input input {
  background-color: transparent;
  border: none;
  font-size: 18px;
  margin-left: 5px;
  height: 100%;
  width: 100%;
}
input:focus {
  outline: none;
}
@media screen and (max-width: 900px) and (min-width: 300px) {
.search-arrow .arrow {
  display: none;
}
.arrow {
  display: none;
}
.search-input {
  height: 25px;
  min-width: 200px;
}
}
